
* {
  font-family: monospace;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

.module {
  padding: 4px 10px 4px 10px;
  min-width: 18px;
}

.modules-left, .modules-center, .modules-right {
  background: rgba(13, 13, 27, 0.9);
  /* border: 1px solid #808080; */
  border: 1px solid rgba(56, 56, 121, 0.9);
  border-radius: 5px;
}

#battery {
  font-size: 18px;
}

#battery.charging,
#battery.plugged,
#battery.full {
  color: lime;
}

#custom-power {
  border-radius: 5px;
  font-size: 14px;
  background: #516cf3;
  padding: 0;
  min-width: 50px;
  border: 1px solid #516cf3;
  margin: 3px;
}

#custom-power:hover {
  background: #3c56da;
  border: 1px solid #3c56da;
}

.modules-center {
  margin: 5px 0px 0px 0px;
}

.modules-left {
  margin: 5px 0px 0px 5px;
}

.modules-right {
  margin: 5px 5px 0px 0px;
}

#clock {
  font-family: ZedMonoNerdFont;
}

tooltip {
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.5);
  padding: 5px 5px 5px 5px;
}

menu {
  border-radius: 6px;
  padding: 7px;
  background: rgba(13, 13, 27, 0.9);
  border: solid 1px rgba(56, 56, 121, 0.9);
}

menuitem {
  border-radius: 4px;
  padding: 5px 3px;
}

menuitem:hover {
  background: #516cf3;
}

menuitem:disabled label {
  color: #505050;
}
