* {
  /* You must use here a Propo font from NerdFonts. */
  font-family: 'JetbrainsMono Nerd Font Propo';
  font-weight: 500;
  font-size: 14px;
  color: #eeeeee;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

.module {
  padding: 0px 10px 0px 10px;
  min-width: 18px;
}

window#waybar {
  background: rgba(15, 15, 15, 0.70);
}

#battery.charging,
#battery.plugged,
#battery.full {
  color: rgb(129, 241, 129);
}

.module:not(#clock):not(#tray):not(#workspaces):not(#custom-slash1):not(#custom-arrow-icon):not(#custom-slash0):not(#custom-slash1):not(#custom-self):hover {
  background: #eeeeee;
  color: #151515;
}

tooltip box {
  border-radius: 8px;
  background: rgba(15, 15, 15, 0.90);
  padding: 10px;
  border: solid 2px #5a5a5a;
}

menu {
  background: rgba(18, 18, 29, 0.9);
  border-radius: 6px;
  padding: 8px 0px;
}

menuitem label {
  font-family: sans-serif;
}

menuitem {
  /* border-radius: 4px; */
  padding: 5px 3px;
  border-left: solid 2px transparent;
}

menuitem:hover {
  background: #343c64;
  border-left: solid 2px rgb(68, 85, 179);
}

menuitem:disabled label,
menuitem:insensitive label,
menuitem:disabled image {
  color: #464b63;
}

#custom-slash0 {
  padding: 0;
  font-size: 22px;
  margin-left: -2px;
  margin-top: -2px;
  color: rgb(41, 52, 110);
}

#custom-slash1 {
  padding: 0;
  font-size: 22px;
  margin-top: -2px;
  color: rgb(41, 52, 110);
}

#custom-arrow-icon {
  padding: 0;
  font-size: 22px;
  margin-left: -2px;
  margin-top: -2px;
  color: #eeeeee;
}

#custom-self,
#custom-arrow-icon,
#workspaces {
  background: rgb(41, 52, 110);
  border-bottom: 2px solid rgb(68, 85, 179);
}

#custom-slash0,
#tray {
  background: rgb(97, 60, 112);
  border-bottom: 2px solid rgb(176,  79, 214);
}

#custom-slash1 {
  color: rgb(97, 60, 112);
}

#workspaces button {
  margin: 3px 2px;
  padding: 0px 2px;
  border-radius: 4px;
}

#workspaces button.active {
  color: #eeeeee;
  background: rgb(68, 85, 179);
}

#custom-icon {
  color: rgb(68, 85, 179);
  font-size: 18px;
  border-bottom: 2px solid rgb(68, 85, 179);
  background: #eeeeee;
}

/* Wireplumber specials */

#wireplumber.muted {
  color: #fa6767;
}