* {
  /* You must use here a Propo font from NerdFonts. */
  font-family: 'JetbrainsMono Nerd Font Propo';
  font-weight: 500;
  font-size: 14px;
  color: #eeeeee;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

.module {
  padding: 0px 10px 0px 10px;
  min-width: 18px;
}

window#waybar {
  background: rgba(15, 15, 15, 0.90);
}

#battery.charging,
#battery.plugged,
#battery.full {
  color: rgb(129, 241, 129);
}

.module:not(#clock):not(#tray):not(#workspaces):not(#custom-skew):hover {
  background: #eeeeee;
  color: #151515;
}

tooltip box, menu {
  border-radius: 10px;
  background: rgba(15, 15, 15, 0.90);
  padding: 10px;
  border: solid 2px #eeeeee;
}

#tray menu menuitem:not(:hover) label {
  color: #eeeeee
}

menuitem {
  border-radius: 4px;
  padding: 5px 3px;
}

menuitem:hover {
  background: #eeeeee;
}

menuitem:hover label,
menuitem:hover image,
#tray menuitem:hover > label {
  color: #151515;
}

menuitem:disabled label, menuitem:disabled image {
  color: #505050;
}

#custom-skew {
  padding: 0;
  font-size: 22px;
  margin-left: -2px;
  margin-top: -2px;
  color: rgba(53, 48, 99, 0.8);
}

.modules-left .module:not(#custom-skew) {
  background: rgba(53, 48, 99, 0.8);
  border-bottom: 2px solid rgb(118, 80, 168);
}

#workspaces {
  color: rgb(118, 80, 168);
}

#workspaces button {
  margin: 3px 2px;
  padding: 0px 2px;
  border-radius: 4px;
}

#workspaces button.active {
  color: #eeeeee;
  background: rgb(118, 80, 168);
}

/* Wireplumber specials */

#wireplumber.muted {
  color: #fa6767;
}